<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>HEXA'S ZINDABAZAR</title>
</head>
<body>
    <div class="container">
        <!--header-->
        <header>
            <div class="header-left">
                <h1 class="header-title">
                    <p class="header-title-main"> HEXA<span>'</span>S</p>
                    <p class="header-title-footer">ZINDABAZAR</p>
                </h1>
                <p>Welcome Back</p>
                <h2 class="user-name">Mahfuzur Rahman Imad</h2>
                <p class="username-test">Available Test</p>
                <h3>
                    <p class="value">30</p>
                    <p>MOCK</p>
                </h3>
                <h3>
                    <p class="value">30</p>
                    <p>PARTIAL</p>
                </h3>
            </div>
            <div class="header-right">
                <div class="notification">
                    <img src="https://test.bombayspiceuk.com/icon/bell.svg" alt="notification">
                    <p>12</p>
                </div>
                <div class="user-img">
                    <img src="https://test.bombayspiceuk.com/icon/user.svg" alt="user">
                </div>
            </div>
        </header>        
        <!--header end-->

        <!--body-->
        <main>
            <div class="mock main-body">
                <h2>MOCK</h2>
                <div class="main-flex">
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/test.svg" alt="">
                        <p>Test</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/result.svg" alt="">
                        <p>Result</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/details.svg" alt="">
                        <p>Details</p>
                    </div>
                </div>
            </div>
            <div class="partial main-body">
                <h2>Partial</h2>
                <h3>Test</h3>
                <div class="main-flex main-partial">
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/listening.svg" >
                        <p>Listening</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/reading.svg" >
                        <p>Reading</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/writing.svg" >
                        <p>Writing</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/speaking.svg" >
                        <p>Speaking</p>
                    </div>

                </div>
            </div>
            <div class="page-banner">
                <div class="page-banner-pic">
                    <img src="https://test.bombayspiceuk.com/images/ad.png" alt="">
                </div>
            </div>
            <div class="result main-body">
                <h3>Results   </h3>
                <div class="main-flex">
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/listening.svg" >
                        <p>Listening</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/reading.svg" >
                        <p>Reading</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/writing.svg" >
                        <p>Writing</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/speaking.svg" >
                        <p>Speaking</p>
                    </div>

                </div>
            </div>
            <div class="detail main-body">
                <h3>Registration Details</h3>
                <div class="main-flex">
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/listening.svg" >
                        <p>Listening</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/reading.svg" >
                        <p>Reading</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/writing.svg" >
                        <p>Writing</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/speaking.svg" >
                        <p>Speaking</p>
                    </div>

                </div>
            </div>
            <div class="practice main-body">
                <h3>Practice Materials</h3>
                <div class="main-flex">
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/listening.svg" >
                        <p>Listening</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/reading.svg" >
                        <p>Reading</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/writing.svg" >
                        <p>Writing</p>
                    </div>
                    <div>
                        <img src="https://test.bombayspiceuk.com/icon/speaking.svg" >
                        <p>Speaking</p>
                    </div>

                </div>
            </div>
        </main>
         <!--body end-->


         <!--footer-->
         <footer>
            <nav>
                <div class="logout"></div>
                <div class="reload"></div>
                <div class="menu"></div>
                <div class="home"></div>
            </nav>
            <div class="footer-item">
                <p>HEXA'S ZINDABAZAR © 2022</p>
                <p>developed by ADIL </p>
            </div>
         </footer>
          <!--footer end-->
    </div>
</body>
</html>