* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --text-color : #111;
    --bg-color: #fff;
    --main-color: #e70b0b    ;
    --sub-color : #555; 


    --h2-font: 1.5rem;
    --p-font: 1rem;
    --mini-font : .95rem;
    
}


.logo  {
    background: var(--main-color);
    display: block;
    color: var(--bg-color);
    padding: 20px 8%;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
}

.nav {
    display: flex;
    padding: 15px 8%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.275);
}

.nav  a {
    color: var(--text-color);
    font-size: .9rem;
   
    margin-right: 15px;
}

section {
    padding: 40px 15%;
}

.big-row {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , auto));
    gap: 2rem;
    align-items: center;
}

.main-img img{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.main-text h3  {
    font-size: var(--h2-font);
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 1.5rem;
    transition: all .4s ease;
}

.main-text p {
    color: var(--sub-color);
    font-size: var(--mini-font);
    line-height:2;
    margin-bottom: 20px;
}

.main-text small {
    color: var(--sub-color);
    font-size: var(--mini-font);
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , auto));
    gap: 1rem;
    align-items: center;
    transition: all .4s;
}

.col-img img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}


.col-text h4 {
    font-size: var(--p-font);
    color: var(--text-color);
    margin: 5px auto 10px;
    transition: all .4s;

}

.col-text p {
    color: var(--sub-color);
    font-size: var(--mini-font);
}


 h2 {
    margin-bottom: 1.5rem;
    color: var(--text-color);
    font-size: var(--h2-font);
}

.end-row {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(350px , auto));
    gap: 2rem;
   
}

.end-row h5{
    font-size: var(--h2-font);
    
}

footer {
    background: var(--text-color);
    padding-bottom: 20px;
}

footer a {
    margin-bottom: 20px;
}

footer p {
    padding: 5px 8%;
    color: var(--bg-color);
    font-size: 14px;
    margin-bottom: 10px;
}



/* responsive */

@media (max-width: 1245px){

    section {
        padding: 40px 8%;
    }
}

@media (max-width: 1030px){

        :root {
            --h2-font: 1.2rem;
            --p-font: .90rem;
            --mini-font : .75rem;
            
        }



    .logo {
        padding: 20px 3%;

    }
    .nav {
        padding: 15px 3%; 
    }
    section {
        padding: 40px 3%;
    }
    footer p {
        padding: 5px 3%;  
        font-size: 12px;
    }
}

@media (max-width: 750px) {
    :root {
        --h2-font: 1.1rem;
        --p-font: .85rem;
        --mini-font : .70rem;
        
    }
}

@media (max-width: 450px) {
    .end-row  {
        display: block;
    }
    .end-row h5{
        font-size:var(--p-font);
        max-width: 100%;
        margin: 10px auto;
    }
}

/*  hover */

h5:hover , .col:hover h4 , .big-row:hover h3 {
    text-decoration: underline;
    transition: all .4s ;
}

.col:hover  {
    transform: scale(.98);
    transition: .4s;
}
